.navbar , .content{
  font-family: 'Syne Mono', monospace;
}
@keyframes slide-in-left {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-slide-in-left {
    animation: slide-in-left 1s ease-out;
  }

  